:root {
  --light-bg-color: rgb(240, 255, 254);
  --light-font-color: rgb(0, 57, 80);
}

::-webkit-scrollbar {
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background: rgb(0, 57, 80);
}

::-webkit-scrollbar-thumb {
  width: 70%;
  background: rgb(208, 236, 233);
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Sono", monospace;
}

body {
  background: var(--light-bg-color);
  color: var(--light-font-color);
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: rgb(228, 247, 245);
}

.action-container,
.folder-container {
  display: flex;
  align-items: center;
}

.action-container h1,
.folder-container h1 {
  flex: 1;
}

.content-box {
  height: 250px;
  padding: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.content-box:hover {
  box-shadow: 0 1px 8px rgb(134, 168, 164);
}

.content-box h2 {
  text-align: center;
}

.cube {
  background: rgb(193, 226, 222);
}

.folder-active {
  background: rgb(240, 255, 254) !important;
}

.folder-active:hover {
  filter: brightness(90%);
}

.folder-btn-container {
  flex: 1;
  overflow-y: auto;
}

.folder-text {
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  text-align: center;
}

div.inactive {
  display: none;
}

.pop-up {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding: 1rem;
  background: rgb(193, 226, 222);
  border-radius: 1rem;
  outline: 1px solid;
}

.pop-up button {
  background: rgb(208, 236, 233);
  border: 1px solid rgb(0, 57, 80);
  cursor: pointer;
}

.pop-up-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  padding: 4px;
  background: rgb(193, 226, 222);
  border-radius: 4px;
  cursor: pointer;
}

.pop-up button:active,
.menu-btn:active {
  filter: brightness(90%);
}

.note-counter {
  font-weight: bold;
}

.popup-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.3);
}

.popup-container > * {
  position: absolute;
  pointer-events: all;
}

.sections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  position: absolute;
  margin-top: 56px;
  padding: 14px 24px;
  overflow-y: auto;
  inset: 0;
  z-index: -1;
}

.sections:not(main) {
  display: none;
}

.sidebar-container {
  height: 100vh;
  width: 320px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 3;
  left: -100%;
  background: rgb(193, 226, 222);
  border-right: 2px solid rgb(134, 168, 164);
  margin-right: -2px;
  transition: 0.1s linear;
  text-align: center;
}

.sidebar-container > * {
  width: 100%;
  cursor: default;
}

.sidebar-container ul > * {
  padding: 1rem 1.5rem;
  background: rgb(208, 236, 233);
  cursor: pointer;
}

.sidebar-container ul > *:hover {
  background: rgb(240, 255, 254);
}

.sidebar-open {
  left: 0;
  transition: 0.1s linear;
}
