:root {
  --light-bg-color: rgb(240, 255, 254);
  --light-font-color: rgb(0, 57, 80);
}

::-webkit-scrollbar {
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background: rgb(0, 57, 80);
}

::-webkit-scrollbar-thumb {
  width: 70%;
  background: rgb(208, 236, 233);
  border: 2px solid transparent;
  border-radius: 1rem;
  background-clip: content-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Sono", monospace;
}

body {
  background: var(--light-bg-color);
  color: var(--light-font-color);
}

header {
  width: 100%;
  padding: 1rem;
}

.action-container,
.folder-container {
  display: flex;
  align-items: center;
}

.action-container h1,
.folder-container h1 {
  flex: 1;
}

.active-container {
  visibility: visible;
}

.content-box {
  min-height: 250px;
  min-width: 250px;
}

.cube {
  background: rgb(193, 226, 222);
}

.folder-btn-container {
  flex: 1;
  overflow-y: auto;
}

.folder-creation-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding: 1rem;
  background: rgb(193, 226, 222);
  border-radius: 1rem;
  outline: 1px solid;
}

.folder-creation-menu button {
  background: rgb(208, 236, 233);
  border: 1px solid rgb(0, 57, 80);
  cursor: pointer;
}

.folder-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  padding: 4px;
  background: rgb(193, 226, 222);
  border-radius: 4px;
  cursor: pointer;
}

.folder-creation-menu button:active,
.menu-btn:active {
  filter: brightness(90%);
}

.note-counter {
  font-weight: bold;
}

.popup-container {
  height: 100vh;
  width: 100%;
  display: none;
  place-items: center;
  position: absolute;
  top: 0;
  z-index: 4;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
}

.popup-container > * {
  position: absolute;
  pointer-events: all;
}

.sections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 10px;
  position: absolute;
  padding: 45px 24px;
  overflow-y: auto;
  inset: 0;
  z-index: -1;
}

.sections:not(main) {
  display: none;
}

.sidebar-container {
  height: 100vh;
  width: 320px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(193, 226, 222);
  position: absolute;
  top: 0;
  z-index: 3;
  left: -100%;
  transition: 0.1s linear;
  text-align: center;
}

.sidebar-container > * {
  width: 100%;
  cursor: default;
}

.sidebar-container ul > * {
  padding: 1rem 1.5rem;
  background: rgb(208, 236, 233);
  cursor: pointer;
}

.sidebar-container ul > *:hover {
  background: rgb(240, 255, 254);
}

.sidebar-open {
  left: 0;
  transition: 0.1s linear;
}
